<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pepe.view">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".camera.CameraAct" />
        <activity android:name=".camera.act.TranslateAct" />
        <activity android:name=".camera.act.RotateAct" />

        <activity android:name=".paint.PaintAct" />
        <activity android:name=".paint.act.PaintAlignAct" />
        <activity android:name=".paint.act.PaintAntiAliasAct" />
        <activity android:name=".paint.act.PaintCapAct" />
        <activity android:name=".paint.act.PaintStyleAct" />

        <activity android:name=".canvas.CanvasTestAct" />
        <activity android:name=".canvas.CanvasAct" />

        <activity android:name=".touch.EventAct" />

        <activity android:name="com.hencoder.HenCoderAct" />
        <activity android:name="com.hencoder.draw.HenCoderDrawAct" />
        <activity
            android:name="com.hencoder.draw.practicedraw1.Practice1Activity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name="com.hencoder.draw.practicedraw2.Practice2Activity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name="com.hencoder.draw.practicedraw3.Practice3Activity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name="com.hencoder.draw.practicedraw4.Practice4Activity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name="com.hencoder.draw.practicedraw5.Practice5Activity"
            android:theme="@style/Theme.AppCompat" />
        <activity android:name="com.hencoder.anim.HenCoderAnimAct" />
        <activity
            android:name="com.hencoder.anim.practicedraw6.Practice6Activity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name="com.hencoder.anim.practicedraw7.Practice7Activity"
            android:theme="@style/Theme.AppCompat" />
        <activity android:name="com.hencoder.task.HenCoderTaskAct" />
        <activity android:name="com.hencoder.task.Flipboard.FlipboardAct" />
        <activity android:name="com.hencoder.task.Like.LikeAct" />
        <activity android:name="com.hencoder.task.MIMovement.MIMovementAct" />
        <activity android:name="com.hencoder.task.Ruler.RulerAct" />
        <activity android:name="com.hencoder.layout.HenCoderLayoutAct" />
        <activity
            android:name="com.hencoder.layout.hencoderpracticelayout1.LayoutPractice1Activity"
            android:theme="@style/Theme.AppCompat" />

        <activity android:name="com.hencoder.HenCoderTestAct" />


        <activity android:name="com.github.GitHubAct" />
        <activity android:name="com.github.FunSwitch.FunSwitchAct" />
        <activity android:name="com.github.Card.CardAct" />
        <activity android:name="com.github.InfiniteCards.InfiniteCardsAct" />
        <activity android:name="com.github.SafeView.SafeViewAct" />

    </application>

</manifest>