<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pepe.view">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--GitHub-->
        <activity android:name="com.github.GitHubAct" />
        <activity android:name="com.github.FunSwitch.FunSwitchAct" />
        <activity android:name="com.github.Card.CardAct" />
        <activity android:name="com.github.InfiniteCards.InfiniteCardsAct" />
        <activity android:name="com.github.SafeView.SafeViewAct" />
        <!--GitHub-->


        <!--View_camera-->
        <activity android:name=".camera.CameraAct"
            android:theme="@style/Theme.AppCompat"/>
        <!--View_paint-->
        <activity android:name=".paint.PaintAct"
            android:theme="@style/Theme.AppCompat"/>
        <!--View_canvas-->
        <activity android:name=".canvas.CanvasAct"
            android:theme="@style/Theme.AppCompat"/>
        <!--View_path-->
        <activity android:name=".path.PathAct"
            android:theme="@style/Theme.AppCompat"/>
        <!--View_touch-->
        <activity android:name=".touch.EventAct" />


        <!--HenCoder_draw-->
        <activity android:name="com.hencoder.HenCoderAct" />
        <activity android:name="com.hencoder.draw.HenCoderDrawAct" />
        <activity
            android:name="com.hencoder.draw.practicedraw1.Practice1Activity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name="com.hencoder.draw.practicedraw2.Practice2Activity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name="com.hencoder.draw.practicedraw3.Practice3Activity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name="com.hencoder.draw.practicedraw4.Practice4Activity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name="com.hencoder.draw.practicedraw5.Practice5Activity"
            android:theme="@style/Theme.AppCompat" />
        <!--HenCoder_anim-->
        <activity android:name="com.hencoder.anim.HenCoderAnimAct" />
        <activity
            android:name="com.hencoder.anim.practicedraw6.Practice6Activity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name="com.hencoder.anim.practicedraw7.Practice7Activity"
            android:theme="@style/Theme.AppCompat" />
        <!--HenCoder_task-->
        <activity android:name="com.hencoder.task.HenCoderTaskAct" />
        <activity android:name="com.hencoder.task.Flipboard.FlipboardAct" />
        <activity android:name="com.hencoder.task.Like.LikeAct" />
        <activity android:name="com.hencoder.task.MIMovement.MIMovementAct" />
        <activity android:name="com.hencoder.task.Ruler.RulerAct" />
        <activity android:name="com.hencoder.layout.HenCoderLayoutAct" />
        <!--HenCoder_layout-->
        <activity
            android:name="com.hencoder.layout.hencoderpracticelayout1.LayoutPractice1Activity"
            android:theme="@style/Theme.AppCompat" />
        <!--HenCoder_test-->


        <!--Anim_frame-->
        <activity android:name="com.pepe.anim.AnimAct" />
        <activity
            android:name="com.pepe.anim.FrameAnimAct"
            android:theme="@style/Theme.AppCompat" />
        <!--Anim_tween-->
        <activity android:name="com.pepe.anim.tween.TweenAnimAct" />
        <activity
            android:name="com.pepe.anim.tween.AlphaAnimAct"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name="com.pepe.anim.tween.TranslateAnimAct"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name="com.pepe.anim.tween.RotateAnimAct"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name="com.pepe.anim.tween.ScaleAnimAct"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name="com.pepe.anim.tween.AnimSetAct"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name="com.pepe.anim.custom.CustomAnimAct"
            android:theme="@style/Theme.AppCompat" />

        <activity android:name="com.pepe.anim.PropertyAnimAct" />
        <activity android:name="com.pepe.anim.property.ObjectAnimatorAct"
            android:theme="@style/Theme.AppCompat"/>
        <activity android:name="com.pepe.anim.property.ValueAnimatorAct"
            android:theme="@style/Theme.AppCompat"/>
        <activity android:name="com.pepe.anim.property.AnimatorSetAct"
            android:theme="@style/Theme.AppCompat"/>
        <activity android:name="com.pepe.anim.property.PropertyValuesHolderAct"
            android:theme="@style/Theme.AppCompat"/>
        <activity android:name="com.pepe.anim.property.KeyframeAct"
            android:theme="@style/Theme.AppCompat"/>
        <activity android:name="com.pepe.anim.property.DropActivity" />
        <activity android:name="com.pepe.anim.property.MenuAct" />
        <activity android:name="com.pepe.anim.property.TimerActivity" />

    </application>

</manifest>